<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>提示 - jiiiiiin-security</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bower_components/bulma/css/bulma.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
</head>
<body>

<section class="hero is-danger">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                提示
            </h1>
            <h2 class="subtitle">
                <!--<h1>请访问正确的前后端分离的前端页面，点击<a th:href="${#httpServletRequest.getAttribute('fontUrl')}">去登录</a></h1>-->
                <h1>请访问正确的前后端分离的前端页面，点击<a th:href="${fontUrl}" style="color: orange">去登录</a></h1>
            </h2>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p><a href="https://github.com/Jiiiiiin/jiiiiiin-security">jiiiiiin-security</a></p>
    </div>
</footer>

</body>
</html>