<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>注册 - 默认</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bower_components/bulma/css/bulma.min.css}"/>
    <link href="https://cdn.bootcss.com/element-ui/2.6.1/theme-chalk/index.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <style>
        [v-cloak] {
            display: none !important;
        }
        .head-img{
            margin: 0 auto;
            width: 50px;
            display: inherit;
            margin-bottom: 20px;
            border: 1px solid #eee;
            padding: 1px;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <section class="hero is-danger">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    默认注册
                </h1>
                <h2 class="subtitle">
                    <p>请配置 `jiiiiiin.security.browser.signUpUrl` 属性来设置自己的注册页</p>
                </h2>
            </div>
        </div>
    </section>


    <el-row class="from" style="margin-top: 50px;">
        <el-col :span="4">&nbsp;</el-col>
        <el-col :span="16">
            <img :src="headimg" alt="" class="head-img">
            <el-form ref="form" label-width="80px" th:action="@{/admin/regist}" method="post"
                     @keyup.enter="onSubmit">
                <el-form-item label="用户名" required="true">
                    <el-input name="username" v-model="username"></el-input>
                </el-form-item>

                <el-form-item label="密码" required="true">
                    <el-input name="password" v-model="password" type="password"></el-input>
                </el-form-item>

                <!--TODO 添加-->
                <!--<el-form-item label="验证码" required="true">-->
                <!--<input name="imageCode" class="image-code-input"/>-->
                <!--<img th:src="@{/code/image}" class="image-code" @click="onChangeValidateImgCode">-->
                <!--</el-form-item>-->

                <el-form-item>
                    <el-button type="primary" @click="onSubmit" @keyup.enter="onSubmit">提交</el-button>
                    <el-button type="primary" @click="onBinding" @keyup.enter="onSubmit">已有账号，去绑定</el-button>
                </el-form-item>
            </el-form>
        </el-col>
        <el-col :span="4">&nbsp;</el-col>
    </el-row>

    <footer class="footer">
        <div class="content has-text-centered">
            <p><a href="https://github.com/Jiiiiiin/jiiiiiin-security">jiiiiiin-security</a></p>
        </div>
    </footer>
</div>
</body>
</html>

<!-- 生产环境版本，优化了尺寸和速度 -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script th:src="@{/js/common.js}"></script>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                username: 'qq',
                password: 'admin',
                headimg: ''
            }
        },
        methods: {
            onSubmit: function (e) {
                // this.$refs.form.$el.submit();
                this.$vp.post('/admin/regist', {
                    username: this.username,
                    password: this.password,
                    channel: '0',
                    roleIds: ['1112903286077321218']
                }, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (response) {
                    console.log(`token 授权注册完成->`, response)
                }).catch(function (err) {
                    alert(`请求短信验证码出错${JSON.stringify(err.response)}`)
                })
            },
            onBinding: function (e) {
                alert('开发中')
            }
        },
        created() {
            this.$vp.get('/social/userInfo')
                .then((response) => {
                    this.username = response.data.data.nickname
                    this.headimg = response.data.data.headimg
                    console.log('/social/userInfo', response.data, this)
                })
                .catch((err) => {
                    alert(`获取登录用户信息出错 ${JSON.stringify(err.response)}`)
                })
        }
    })
</script>
</body>
</html>