<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link>
<meta charset="UTF-8"/>
<title>404</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bower_components/bulma/css/bulma.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
</head>
<body>

<section class="hero is-danger">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                404
            </h1>
            <h2 class="subtitle">没有找到你需要访问的资源</h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <p><a href="/">返回首页</a></p>
        <p><a href="/signIn">返回登录</a></p>
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p><a href="https://github.com/Jiiiiiin/jiiiiiin-security">jiiiiiin-security</a></p>
    </div>
</footer>

</body>
</html>