<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>注册 - demo</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        [v-cloak] {
            display: none !important;
        }

        .title {
            text-align: center;
        }

        .image-code-input {
            width: 50%;
        }

        .image-code {
            position: absolute;
            width: 100px;
            margin-left: 20px;
            height: 40px;
        }

        .from {
            margin-top: 150px;
        }
    </style>
</head>
<body>

<div id="app" v-cloak>

    <el-row class="from">
        <el-col :span="8">&nbsp;</el-col>
        <el-col :span="8">

            <h3 class="title">注册</h3>

            <el-tabs type="border-card">
                <el-tab-pane label="账号方式">
                    <!--应用自身来实现注册或者绑定第三方授权用户信息的接口-->
                    <el-form ref="form" label-width="80px" action="/user/register" method="post">
                        <el-form-item label="用户名" required="true">
                            <el-input name="username" v-model="username"></el-input>
                        </el-form-item>

                        <el-form-item label="密码" required="true">
                            <el-input name="password" v-model="password" type="password"></el-input>
                        </el-form-item>

                        <el-form-item label="验证码" required="true">
                            <el-input name="imageCode" class="image-code-input"></el-input>
                            <img src="/code/image" class="image-code" @click="onChangeValidateImgCode">
                        </el-form-item>

                        <el-form-item label="">
                            <el-input name="remember-me" :value="rememberVal" type="hidden" v-show="show"></el-input>
                            <el-checkbox v-model="remember">记住我</el-checkbox>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="primary" @click="onRegister">提交注册</el-button>
                            <el-button type="primary" @click="onBind">绑定到已有账号</el-button>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
            </el-tabs>

        </el-col>
        <el-col :span="8">&nbsp;</el-col>
    </el-row>

</div>

<!-- 生产环境版本，优化了尺寸和速度 -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/common.js"></script>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                username: 'admin',
                password: 'a11111',
                mobile: '15388888888',
                remember: true,
                show: false,
                sendSmsCodeBtnStatus: false
            }
        },
        computed: {
            rememberVal: function () {
                return this.remember
            }
        },
        methods: {
            onRegister: function (e) {
                console.log(this.$refs.form)
                this.$refs.form.$el.submit();
            },
            onBind: function (e) {
                console.log(this.$refs.form)
                this.$refs.form2.$el.submit();
            },
            reqSendSmsCode: function (e) {
                var that = this
                this.sendSmsCodeBtnStatus = true
                this.$vp.get('/code/sms', {
                    params: {
                        mobile: this.mobile
                    }
                }).then(function (response) {
                    console.log(`请求发送短信成功->`, response)
                    // TODO 对按钮做发送时长控制
                    that.sendSmsCodeBtnStatus = false
                    that.$message('发送成功')
                }).catch(function (err) {
                    alert(`请求短信验证码出错${JSON.stringify(err.response)}`)
                    that.sendSmsCodeBtnStatus = false
                })
            },
            onChangeValidateImgCode: function (e) {
                e.target.src = `${baseConfig.baseURL}/code/image?${new Date().getTime()}`
            },
            onTapQQAuthSignIn: function () {
                /**
                 * social的过滤器 SocialAuthenticationFilter 会拦截`/auth`标识的接口
                 * /qq 代表的是QQProperties#providerId
                 * @type {string}
                 */
                // window.location.href = `${baseConfig.baseURL}/auth/qq`
                // 测试接口，本地需要使用修改host文件方式映射到，www.pinzhi365.com
                window.location.href = `${baseConfig.baseURL}/qqLogin/callback.do`
            }
        }

    })
</script>
</body>
</html>