.el-dialog__body {
  padding: 30px 50px 30px 35px;
}

.dialog-form-submit-container {
  margin-top: 40px;
}
.dialog-form-submit-inner-container {
  margin-top: 20px;
  width: 160px;
  margin: 0 auto;
}
.mng-list-title-hint-btn{
  float: right;
}
