.el-dialog__body {
  padding: 30px 50px 30px 35px;
}

.dialog-form-submit-inner-container {
  margin-top: 20px;
  width: 160px;
  margin: 0 auto;
}

.mng-list-title-hint-btn {
  float: right;
}

body {
  #app {
    .mng-list {
      .d2-container-full__footer {
        border: none;
      }
    }

    .mng-list {

      .el-form-item {
        margin-bottom: 2px;
      }

      .search-inner-btn-box{
      }

      .mng-list-option-box{
        margin-top: 15px;
      }

      .el-table {
        .el-form-item__label {
          color: #99a9bf
        }

      }

    }

  }
}
