<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"></meta>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"></meta>
    <title>jiiiiiin-security</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"></link>
</head>
<body>

<div class="container">
    <!--TODO 需要手动替换成实际的前端地址-->
    <h1>请访问正确的页面<a href="http://localhost:9000">去登录</a></h1>

    <p>jiiiiiin-security</p>

</div>
</body>
</html>