<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link>
<meta charset="UTF-8"></meta>
<title>出错啦</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bower_components/bulma/css/bulma.min.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"></link>
</head>
<body>

<section class="hero is-danger">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                服务器内部错误
            </h1>
            <h2 class="subtitle" th:text="${#httpServletRequest.getAttribute('SPRING_SECURITY_LAST_EXCEPTION')}">
            </h2>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p>spring-boot2</p>
    </div>
</footer>

</body>
</html>